html{
    font-size: 6vw;
}
html,body{
    margin: 0;
    padding: 0;
    background-color: #eee;
}
#app{
    position: relative;
    overflow: hidden;
}
a{
    color: #666;
    text-decoration: none;
}
ul,p,h1,button{
    margin: 0;
    padding: 0;
    list-style: none;
}
button,input{
    border: none;
    outline: none;
}